<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Di động Việt</title>
  </head>
  <body>
    <p>Xin chào {{name}},</p>
    <p>Bạn vừa tạo tài khoản thành công, vui lòng kích hoạt bằng cách nhấn vào
      đường dẫn dưới đây để hoàn tất quá trình đăng ký tài khoản.</p>

    <p>
      <a href='{{url}}' data-saferedirecturl='{{url}}'>Kích hoạt tại đây.</a>
    </p>

    <p><strong>Cảm ơn bạn đã chọn Di Động Việt.</strong>

    </p>

  </body>
</html>